
.container {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-light);
    width: 100%;
    height: 100vh;
  
    .navbar {
      display: flex;
      background-color: rgba(252, 250, 250, 0.1);
      width: 100%;
      box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.2);
      position: sticky;
      z-index: 1000; /* Ensure navbar stays above other content */
  
      .navcontent {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
  
        .first {
          display: flex;
          align-items: center;
  
          i {
            color: var(--text-primary-color-light);
          }
        }
  
        .sec {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 50px;
          margin-right: 20px;
  
          i {
            color: var(--text-secondary-color-light);
            font-size: 25px;
          }
        }
  
        .search {
          width: 35vw;
          display: flex;
          position: relative;
          align-items: center;
  
          .searchbar {
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            border: 1.5px solid var(--primary-color-light);
            padding-left: 40px;
            font-size: 18px;
            color: var(--text-color-light);
          }
  
          i {
            position: absolute;
            left: 10px;
            font-size: 20px;
            color: var(--text-secondary-color-light);
          }
  
          .searchbar:hover {
            border: 1.5px solid var(--hover-color-light);
          }
        }
      }
    }
  
    .dashboard {
      display: flex;
      width: 100%;
      min-height: calc(100% - 8vh); /* Account for the navbar height */
  
      .panel {
        width: 15vw;
        height: calc(100vh - 8vh);
        background-color: #228bee;
        transition: transform 0.5s ease, width 0.5s ease;
        transform: translateX(0%);
        overflow: hidden;
  
        &.collapsed {
          width: 0;
          transform: translateX(-100%);
        }
  
        .panelcontent {
            
          padding: 20px;
            ul{
                grid-template-columns: repeat(1, 1fr);
                gap: 5px;

                li {
                    padding: 10px;
                    align-items: center;
          
                    h2 {
                      font-size: 18px; /* Reduced font size */
                      font-weight: bold;
                      color: var(--background-color-light);
                    }
                }
            }
          
  
            .line {
              width: 90%;
              height: 3px;
              background-color: var(--background-color-light);
            }
          }
  
          ul li:hover {
            cursor: pointer;
            font-weight: bold;
            background-color: var(--background-color-light);
  
            h2 {
              color: var(--text-primary-color-light);
            }
  
            .line {
              background-color: var(--text-primary-color-light);
            }
          }
        }
      }
  
      .Main {
        width: 85%;
        display: flex;
        flex-direction: column;
        transition: width 0.5s ease;
        margin-left: auto;
  
        &.expanded {
          width: 100%;
        }
  
        .FirstRow {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
  
          .cards {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
  
            .card {
              padding: 20px;
              height: 160px;
              background-color: rgba(255, 255, 255, 0.5);
              border-radius: 10px;
              box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
  
              h2 {
                font-size: 25px; /* Adjusted size for a cleaner look */
                color: var(--text-primary-color-light);
  
                span {
                  font-size: 20px;
                  color: var(--text-secondary-color-light);
                }
              }
  
              .separator {
                margin: 0 10px;
                border-left: 1px solid var(--secondary-color-light);
                height: 25px;
              }
  
              .card-info-1 {
                display: flex;
                justify-content: space-between;
  
                i {
                  font-size: 20px;
                  color: var(--text-primary-color-light);
                }
              }
  
              .card-icon {
                width: 280px;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: space-around;

                .card-icon-box {
                  width: 65px; /* Reduced size */
                  height: 65px;
                  border-radius: 50%;
                  background-color: var(--background-color-light);
                  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  i {
                    font-size: 30px;
                    color: var(--text-primary-color-light);
                  }
                }
  
                .card-info {
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                  h2 {
                    font-size: 30px;
                    font-weight: bold;
                    color: var(--text-primary-color-light);
                  }
  
                  p {
                    font-size: 20px;
                    color: var(--text-secondary-color-light);
  
                    span {
                      font-weight: 400;
                    }
                  }
                }
              }
            }
          }
        }
  
        .SecRow {
          display: flex;
          gap: 20px;
          padding: 20px;
  
          .Graph {
            flex: 2;
            background-color: var(--primary-color);
          }
  
          .recent {
            flex: 1;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
            padding: 10px;
  
            .recent-box {
              display: flex;
              flex-direction: column;
              gap: 10px;
  
              .card-info-1 {
                display: flex;
                justify-content: space-between;
  
                i {
                  font-size: 20px;
                  color: var(--hover-color);
                }
  
                h2 {
                  font-size: 20px;
                  color: var(--text-color-light);
  
                  span {
                    font-size: 15px;
                  }
                }
              }
  
              .recent-info {
                display: flex;
                align-items: center;
                gap: 10px;
  
                .recent-time {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
  
                  h2 {
                    font-size: 16px;
                    color: var(--text-primary-color-light);
                    margin: 0;
                  }
  
                  p {
                    color: var(--text-secondary-color-light);
                    font-size: 14px;
                  }
                }
  
                .recent-separator {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
  
                  .r-line {
                    background-color: var(--hover-color-light);
                    width: 3px;
                    height: 100%;
                  }
  
                  .r-circle {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: var(--primary-color-light);
                  }
                }
  
                .r-info {
                  p {
                    font-size: 14px;
                    color: var(--text-secondary-color-light);
  
                    span {
                      font-weight: bold;
                      color: var(--text-primary-color-light);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  
  